body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    background-color: #f9f9f9;
    flex-direction: column;
    text-align: center;
}

.header {
    background-color: #e60012;
    color: white;
    padding: 10px 0;
    text-align: center;
}


.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

center image{
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #010101;
    text-align: center;
}

.footer {
    background-color: #d5002b;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}